/* make the grids 16x16 */

div.container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid;
    width: 700px;
    height: 700px;
}

div.grid {
    flex: 0 0 43.75px;
    width: 43.75px;
    height: 43.75px;
    border: 1px solid;
    box-sizing: border-box;
}